<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Date</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let user of users; let i = index">
                    <th scope="row">{{user.name}}</th>
                    <td>{{user.email}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.date | date: 'short'}}</td>
                    <td (click)="onDeleteUser(i)">
                        <button class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button (click)="open(content)" class="btn btn-success">Add</button>
        </div>
    </div>


</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Modal</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="name" class="form-label">Name</label>
                    <input [class.invalid-input]="(form.get('name')?.errors?.hasOwnProperty('required')  && form.get('name')?.touched) || form.get('name')?.errors?.['minlength'] || form.get('name')?.errors?.['maxlength']"
                           type="text"
                           class="form-control"
                           id="name"
                           formControlName="name"
                           placeholder="Name">
                </div>

                <div class="col-md-12 mb-2">
                    <label for="email" class="form-label">Email address</label>
                    <input type="text"
                           [class.invalid-input]="form.get('email')?.errors?.hasOwnProperty('required') && form.get('email')?.touched || form.get('email')?.errors?.['email']"
                           class="form-control"
                           id="email"
                           formControlName="email"
                           placeholder="name@example.com">
                </div>

                <div class="col-md-12 mb-2">
                    <label (click)="test()" for="mobileNumber" class="form-label">Mobile Number</label>
                    <ngx-intl-tel-input
                            class="d-block w-100"
                            [class.invalid-input]="form.get('mobile')?.touched && form.get('mobile')?.errors?.hasOwnProperty('required') ||( form.get('mobile')?.errors?.['validatePhoneNumber'])"
                            [preferredCountries]="[CountryISO.UnitedStates, CountryISO.UnitedKingdom]"
                            [enableAutoCountrySelect]="false"
                            [enablePlaceholder]="true"
                            [searchCountryFlag]="true"
                            [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]"
                            [selectFirstCountry]="false"
                            [selectedCountryISO]="CountryISO.Egypt"
                            [maxLength]="15"
                            [phoneValidation]="true"
                            id="mobileNumber"
                            name="phone"
                            formControlName="mobile"
                    ></ngx-intl-tel-input>

                </div>

                <div class="col-md-12 mb-2">
                    <label for="date" class="form-label">Date</label>
                    <div class="input-group">
                        <input
                                id="date"
                                [class.invalid-input]="form.get('date')?.errors?.hasOwnProperty('required') && form.get('date')?.touched"
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="dp"
                                ngbDatepicker
                                formControlName="date"
                                [markDisabled]="isDisabled"
                                (dateSelect)="onDateSelected($event)"
                                #dp="ngbDatepicker"
                        />
                        <button class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="dp.toggle()"
                                type="button"></button>
                    </div>

                </div>

                <div class="col-md-12 mt-2">
                    <div class="date-wrapper">

                        <div *ngFor="let d of nextDays" class="date">
                            <p>
                                {{d.day}}
                            </p>

                            <p>
                                {{d.name}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button [disabled]="form.invalid" type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </div>
</ng-template>

