<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Date</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>

    <div class="row">
        <div class="col-md-2">
            <button (click)="open(content)" class="btn btn-success">Add</button>
        </div>
    </div>


</div>

<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add Modal</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-12 mb-2">
                    <label for="name" class="form-label">Name</label>
                    <input [class.invalid-input]="(form.get('name')?.errors?.hasOwnProperty('required')  && form.get('name')?.touched) || form.get('name')?.errors?.['minlength'] || form.get('name')?.errors?.['maxlength']"
                           type="text"
                           class="form-control"
                           id="name"
                           formControlName="name"
                           placeholder="Name">
                </div>

                <div class="col-md-12 mb-2">
                    <label (click)="test()" for="email" class="form-label">Email address</label>
                    <input type="text"
                           [class.invalid-input]="form.get('email')?.errors?.hasOwnProperty('required') && form.get('email')?.touched || form.get('email')?.errors?.['email']"
                           class="form-control"
                           id="email"
                           formControlName="email"
                           placeholder="name@example.com">
                </div>

                <div class="col-md-12 mb-2">
                    <label for="mobileNumber" class="form-label">Mobile Number</label>
                    <input type="email"
                           class="form-control"
                           formControlName="mobile"
                           id="mobileNumber"
                           placeholder="0102222221">
                </div>

                <div class="col-md-12 mb-2">
                    <label for="date" class="form-label">Date</label>
                    <div class="input-group">
                        <input
                                id="date"
                                [class.invalid-input]="form.get('date')?.errors?.hasOwnProperty('required') && form.get('date')?.touched"
                                class="form-control"
                                placeholder="yyyy-mm-dd"
                                name="dp"
                                ngbDatepicker
                                formControlName="date"
                                [markDisabled]="isDisabled"
                                (dateSelect)="onDateSelected($event)"
                                #dp="ngbDatepicker"
                        />
                        <button class="btn btn-outline-secondary bi bi-calendar3"
                                (click)="dp.toggle()"
                                type="button"></button>
                    </div>

                </div>

                <div class="col-md-12 mt-2">
                    <div class="date-wrapper">

                        <div *ngFor="let d of nextDays" class="date">
                            <p>
                                {{d.day}}
                            </p>

                            <p>
                                {{d.name}}
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="onSubmit()">Save</button>
    </div>
</ng-template>

